:root{
   --primary-color:rgba(13,110,139,0.75);
   --secondary-color:rgba(229,148,0,0.9);
   --overlay-color:rgba(24,39,51,0.86);
   --menu-speed:0.75s;
}

a{
   text-decoration: none;
}

*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.4;
}



.container{
   max-width:960px;
   margin:auto;
   overflow: hidden;
   padding:0 3rem;

}

#showcase{
   background:var(--primary-color);
   color:#fff;
   height: 100vh;
   position: relative;
}

#showcase:before{
   content: '';
   background:url('../img/luana-azevedo-AHBNGvRTm_A-unsplash.jpg') no-repeat center center/cover;
   position: absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   z-index:-1;
}

#showcase .showcase-container{
   display:flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
   height:100%;

}

#showcase h1{
   text-align: center;
   font-size: 6rem;
   padding-bottom: 2rem;
}

#showcase h2{
   
   font-size: 4rem;
   text-align: center;
   
}
#showcase p{
   font-size: 1.3rem;
   padding-bottom: 18px;
}





#contact{
   display: flex;
   text-align: center;
}

 #contact .contact-form{
   flex:1;
  
} 

#contact .contact-form .form-group{
   margin: 0.75rem;
}

#contact .contact-form .form-group label{
   display: block;
}

#contact .contact-form  input,
#contact .contact-form  textarea{
   width: 80%; 
   padding: 0.5rem;
}

.bg-light{
   background: #f4f4f4;
   color:#333;
}

.bg-dark{
   background: #333;
   color:#f4f4f4;
}

.bg-primary{
   color:#fff;
   

}


.btn{
   display: inline-block;
   color:#fff;
   background: #93cb52;
   padding: 0.75rem 2rem;
   border: none;
   border-radius: 7.2px;
   font-weight: bold;
   

}

.btn-dark{
   background:var(--primary-color);
   color:#fff;
   
}


.btn:hover{
   background: #6fb123;
   border: rgb(255, 217, 0) 1.5px solid;
}

